{% extends "base.html" %}
{% load staticfiles thumbnail i18n bootstrap3 humanize %}

{% block title %}{{object.title }}{% endblock %}


{% block extra_head %}
<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,directions&language={{request.LANGUAGE_CODE}}"></script>
<meta content="http://{{request.META.HTTP_HOST}}{% static "img/care4care.jpg" %}" property="og:image"></meta>
{% endblock %}

{% block content %}

<div id="fb-root"></div>

<div class="row mt">
    <div class="col-lg-12">
            <div id="map" style="width: 100%; min-height: 300px;">
            </div>
            <div style="display:none;">
            <div id="title-branch">
                <div class="background-carte">
                <h3><i class="fa fa-angle-right"></i> {{ object.title }}</h3>
                <h5><i class="fa fa-location-arrow"></i>
                  {{ object.location }}
                </h5>
                <div id="toRemove">
                <h5><i class="fa fa-clock-o"></i>
                  {% trans "Durée du trajet:"%} <span id="timeTravel"></span> {% trans "min" %}
                </h5>
                <h5><i class="fa fa-road"></i>
                  {% trans "Distance du trajet:" %} <span id="distanceTravel"></span> {% trans "km" %}
                </h5>
                </div>
                </div>
            </div>
            <div id="title-right">
                <a href="{{ object.receiver.get_absolute_url }}">
                    <img class="img-circle" src="{% thumbnail object.receiver.photo 100x100 crop %}" /><br />
                    {{ object.receiver.get_full_name }}
                </a>
            </div>
            <div id="title-manage">
                {% if not object.closed %}
                {% if object.receiver.id != request.user.id and not already_volunteer %}
                <a class="btn btn-primary" id="appendKm" href="{% url 'volunteer_demand' branch_id=object.branch.id slug=object.branch.slug demand_id=object.id volunteer_id=request.user.id %}">{% bootstrap_icon 'gift' %} {% trans "Offrir mon aide" %}</a>
                {% endif %}
                {% endif %}

                {% if can_manage %}
                {% if not object.closed %}
                <a class="btn btn-primary" href="{% url 'update_demand' branch_id=object.branch.id slug=object.branch.slug demand_id=object.id %}">{% bootstrap_icon 'pencil' %} {% trans "Modifier" %}</a>
                {% endif %}
                <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">{% bootstrap_icon 'trash' %} {% trans "Supprimer" %}</a>
                {% endif %}
            </div>
            </div>
    </div>
</div>

<!-- need help Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "fermer" %}</span></button>
        <h4 class="modal-title" id="deleteLabel">{% trans "Supprimer" %}</h4>
      </div>
      <div class="modal-body">
          {% blocktrans %}
          Êtes-vous sûr de vouloir SUPPRIMER votre demande {{object.title}} ? <br />
          Cette action est irréversible. <br />
          {% endblocktrans %}
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "fermer" %}</button>
          <a href="{% url 'delete_demand' branch_id=object.branch.id slug=object.branch.slug demand_id=object.id %}"
      class="btn btn-danger">{% trans "SUPPRIMER" %}</a>
      </div>
    </div>
  </div>
</div>

{% if can_manage and not object.closed %}
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
        <h4>{% trans "Volontaires" %}</h4>
        {% blocktrans %}
        <p class="text-center">Ci-dessous la liste des personnes prêtes à vous aider</p>
        {% endblocktrans %}
        <table class="table table-striped table-advance table-hover rowlink">
            <thead>
                <tr>
                    <th>{% trans "Photo" %}</th>
                    <th>{% trans "Utilisateur" %}</th>
                    <th>{% trans "Commentaire" %}</th>
                    <th>{% trans "Disponibilités" %}</th>
                    <th>{% trans "Km" %}</th>
                    <th style="width: 190px">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody data-link='row'>
                {% for volunteer in object.propositions.all %}
                <tr>
                    <td>
                    <a href="{{volunteer.user.get_absolute_url}}">
                    <img class="img-circle" src="{% thumbnail volunteer.user.photo 40x40 crop %}" />
                    </a>
                    </td>
                    <td>
                        <a href="{{volunteer.user.get_absolute_url}}">
                        {{ volunteer.user.get_full_name }}
                        </a>
                    </td>
                    <td>{{ volunteer.comment }}</td>
                    <td>{{ volunteer.get_verbose_time }}</td>
                    <td>{{ volunteer.km }} {% trans "km" %}</td>
                    <td class="rowlink-skip text-right">
                        <a class="btn btn-primary btn-sm" href="{% url 'volunteer_accept' volunteer.id %}">
                            {% bootstrap_icon "ok" %} {% trans "Accepter" %}
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'volunteer_decline' volunteer.id %}">
                            {% bootstrap_icon "trash" %} {% trans "Refuser" %}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                <td colspan="6" class="text-center text-info">
                    {% trans "Aucun volontaire actuellement" %}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endif %}

{% if object.closed %}
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel text-center">
            <h4>
            <a href="{{ object.donor.get_absolute_url }}">
            <img class="img-circle" src="{% thumbnail object.donor.photo 50x50 crop %}" />
            {{ object.donor.get_full_name }}
            </a> {% trans "a été choisi pour réaliser cette tâche" %}
            </h4>
        </div>
    </div>
</div>
{% endif %}

<div class="row mt">
    {% if request.user.id != object.receiver.id and request.user.location %}  
    <div class="col-md-6 col-sm-12">
    {% else %}
    <div class="col-md-12 col-sm-12">
    {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="fb-share-button pull-right" data-layout="button" data-href="{{object.get_absolute_url}}" style="margin-top : 25px;"></div>
                <h4>
                    <a class="float-right" href="{{ object.receiver.get_absolute_url }}">
                        <img class="img-circle" src="{% thumbnail object.receiver.photo 50x50 crop %}" />
                    </a>
                    {{object.title}}
                </h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>{% trans "Demandeur" %}</strong><br/>&nbsp; <a href="{{ object.receiver.get_absolute_url }}">{{object.receiver.get_full_name}}</a> {% trans "dans la branche" %} <a href="{{object.branch.get_absolute_url}}">{{object.branch}}</a></li>
              <li class="list-group-item"><strong>{% trans "Catégorie" %}</strong><br/>&nbsp; {{object.get_category_display}}</li>
              <li class="list-group-item"><strong> {% trans "Date" %}</strong><br/>&nbsp;  {{ object.date|naturalday:'DATE_FORMAT' }}</li>
              <li class="list-group-item"><strong> {% trans "Heures de disponibilité" %}</strong><br/>&nbsp;  {{object.get_verbose_time}}</li>
              <li class="list-group-item"><strong> {% trans "Durée estimée du service" %}</strong><br/> &nbsp; {{object.estimated_time}} {% trans "minutes" %}</li>
              <li class="list-group-item"><strong> {% trans "Lieu" %}</strong><br/> &nbsp; {{object.location}}</li>
              {% if object.description %}
              <li class="list-group-item"><strong> {% trans "Description" %}</strong><br/> &nbsp; {{object.description}}</li>
              {% endif %}
              
              {% if not object.closed %}
              {% if object.receiver.id != request.user.id and not already_volunteer %}
              <li class="list-group-item">
              <a class="btn btn-primary btn-block" id="appendKm" href="{% url 'volunteer_demand' branch_id=object.branch.id slug=object.branch.slug demand_id=object.id volunteer_id=request.user.id %}">{% bootstrap_icon 'gift' %} {% trans "Offrir mon aide" %}</a>
              </li>
              {% endif %}
              {% endif %}

              {% if already_volunteer %}
              <li class="list-group-item">
              <strong>
              {% bootstrap_icon 'star' %} {% trans "Vous êtes volontaire pour cette tâche !" %}
              </strong>
              </li>
              {% endif %}
            </ul>
            

          </div>
    </div>
    {% if request.user.id != object.receiver.id and request.user.location %}   
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {% trans "Itinéraire" %}
                    <div role="group" class="pull-right btn-group">
                    <button type="button" class="btn btn-default {% if not request.GET.walk %}active{% endif %}" onClick="window.location.href='?'">{% trans "En voiture" %}</button>
                    <button type="button" class="btn btn-default {% if request.GET.walk %}active{% endif %}" onClick="window.location.href='?walk=1'">{% trans "A pied" %}</button>
                </div>
                </h4>
            </div>
            <div class="panel-body">
                <div id="directions-panel">
                    {% if not request.user.location %}
                    <div class="alert alert-info" role="alert">
                        <span class="fa fa-info"></span>
                          {% trans "Vous devez indiquer votre adresse personnelle afin d'avoir l'itinéraire" %}
                          <a href="{% url 'edit_profile' request.user.id %}">{% trans "Compléter mon profile" %}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if can_manage and not object.closed and request.user.id != object.receiver.id %}
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {% trans "Le coin de l'administrateur" %}
                </h4>
            </div>
            <div class="panel-body">
            {% if not object.closed %}
                <a class="btn btn-primary" href="{% url 'force_volunteer_demand' branch_id=object.branch.id slug=object.branch.slug  demand_id=object.id %}">{% trans "Ajouter (forcer) une personne à la liste des volontaires" %} </a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endif %}


    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {% trans "Commentaires" %}
                </h4>
            </div>
            <div class="panel-body">

            <ul class="commentList">
                {% for comment in object.comments.all %}
                <li id='{{comment.id}}'>
                    <div class="commenterImage">
                      <img src="{% thumbnail comment.user.photo 50x50 crop %}" />
                    </div>
                    <div class="commentText">
                        <p class="text-info"><a href="{{ comment.user.get_absolute_url }}">{{comment.user.get_full_name}}</a> {% trans "a écrit:" %}</p>
                        <p>{{comment.comment}}</p>
                        <span class="date sub-text">{{ comment.date|naturaltime}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            <form action="." class="style-form" role="form" method="post">
                <div class="row vertical-align">
                    <div class="col-md-10 col-sm-12">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    </div>
                    <div class="col-md-2 col-sm-12">
                    {% buttons %}
                        <button type="submit" class="btn btn-success btn-lg pull-right">
                            {% bootstrap_icon "ok" %} &nbsp; {% trans "Commenter" %}
                        </button>
                    </div>
                </div>
                </form>
                {% endbuttons %}
            </div>
            
            </div>
    </div>
</div>



{% endblock %}


{% block extra_footer %}
<script src="{% static 'js/rowlink.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    var options = {
        zoom: 16,
        center: new google.maps.LatLng({{object.latitude}}, {{object.longitude}}),
        disableDefaultUI: true,
        panControl: false,
        overviewMapControl: false,
        streetViewControl: false,
        scaleControl: false,
        rotateControl: false,
        draggable: true,
        zoomControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: false,
        mapTypeId: google.maps.MapTypeId.HYBRID,
    };
    var directionsService = new google.maps.DirectionsService();
    var map = new google.maps.Map(document.getElementById('map'), options);

    var titleBranch = document.getElementById('title-branch');
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(titleBranch); 

    var rightBranch = document.getElementById('title-right');
    map.controls[google.maps.ControlPosition.RIGHT_TOP].push(rightBranch);

    var rightBranch = document.getElementById('title-manage');
    map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(rightBranch); 
    
    var bounds = new google.maps.LatLngBounds();

    var lieu = new google.maps.LatLng({{object.latitude}}, {{object.longitude}});
    var marker = new google.maps.Marker({
                position: lieu,
                map: map,
                title: '{% trans "Lieu" %}',
                animation: google.maps.Animation.DROP,
            });

    google.maps.event.addListener(marker, 'click', function() {
                    infowindow = new google.maps.InfoWindow({
                        content: '{% trans "Lieu" %}'
                    });
                    infowindow.open(map, marker);
                });

    {% if request.user.id != object.receiver.id and request.user.location %}    
        
        var moi = new google.maps.LatLng({{request.user.latitude}}, {{request.user.longitude}});

        var marker2 = new google.maps.Marker({
                position: moi,
                map: map,
                title: '{% trans "Vous" %}',
                animation: google.maps.Animation.DROP,
            });

        

        google.maps.event.addListener(marker2, 'click', function() {
                    infowindow = new google.maps.InfoWindow({
                        content: '{% trans "Vous" %}'
                    });
                    infowindow.open(map, marker2);
                });

        bounds.extend(moi);
        bounds.extend(lieu);
        map.fitBounds(bounds);

        var directionsDisplay = new google.maps.DirectionsRenderer();// also, constructor can get "DirectionsRendererOptions" object
            directionsDisplay.setOptions( { suppressMarkers: true } );
            directionsDisplay.setMap(map); // map should be already initialized.
            directionsDisplay.setPanel(document.getElementById('directions-panel'));

            var request = {
                origin : moi,
                destination : lieu,
                {% if request.GET.walk %}
                travelMode : google.maps.TravelMode.WALKING,
                {% else %}
                travelMode : google.maps.TravelMode.DRIVING,
                {% endif %}
            };
            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);

                    var directionsResult = directionsDisplay.getDirections();
                    var totalDistance = 0;
                    var totalDuration = 0;
                    var legs = directionsResult.routes[0].legs;
                    var direct = '';
                    for(var i=0; i<legs.length; ++i) {
                        totalDistance += legs[i].distance.value;
                        totalDuration += legs[i].duration.value;
                    }
                    $('#timeTravel').html(Math.floor(totalDuration/60));
                    $('#distanceTravel').html(Math.floor(totalDistance/1000));
                    $("a#appendKm").each(function() {
                       var _href = $(this).attr("href"); 
                       $(this).attr("href", _href + '?km=' + Math.floor(totalDistance/1000));
                    });
                }
            });


    {% else %}
        $('#toRemove').remove();
    {% endif %}

    

    $('.fa-bars').click(function () {
        google.maps.event.trigger(map, 'resize');
    });
});
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  {% if LANGUAGE_CODE == 'fr' %}
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=958033600891660&version=v2.0";
  {% elif LANGUAGE_CODE == 'nl' %}
  js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&appId=958033600891660&version=v2.0";
  {% else %}
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&appId=958033600891660&version=v2.0";
  {% endif %}
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
