{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load staticfiles %}


{% block title %}{% trans "Offrir de l'aide" %}{% endblock %}

{% block extra_head %}
<script src="{% static "js/bloodhound.min.js" %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static "js/typeahead-addresspicker.js" %}"></script>
<script src="{% static "js/typeahead.js" %}"></script>

{% endblock %}

{% block content %}

<h3>{{ ruser.get_full_name }} {% trans "offre de l'aide dans la branche"%} {{ branch }}</h3>

<div class="row mt">
    <div class="col-lg-12">
        <form action="." class="form-horizontal style-form" role="form" method="post">
            {% csrf_token %}

            <div class="col-lg-12 col-sm-12 background-gris">
                <div class="showback">
                    <h4 class="mb"> {% trans "Informations générales" %}</h4>
                    {% bootstrap_form form %}
                </div>
            </div>


            <div class="col-sm-12">
            {% buttons %}
            <div class="row">
                <div class="col-md-6 mb"><button type="submit" class="btn btn-success btn-lg btn-block">
                        {% bootstrap_icon "ok" %} &nbsp; {% trans "Envoyer" %}
                </button></div>
                <div class="col-md-6"><a href="{% url 'home' %}" class="btn btn-danger btn-lg btn-block">
                        {% bootstrap_icon "remove" %} &nbsp; {% trans "Annuler" %}
                </a></div>
            </div>
            {% endbuttons %}
            </div>

        </form>
    </div>
</div>

{% endblock %}


{% block extra_footer %}
{{ form.media }}
{% endblock %}
