{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load staticfiles %}


{% block title %}{% trans "Aider" %}{% endblock %}


{% block content %}

<h3>{% trans "Proposer son aide pour" %} "{{ demand.title }}"</h3>

<div class="row mt">
    <div class="col-lg-12">
        <form action="." class="form-horizontal style-form" role="form" method="post">
            {% csrf_token %}

            {% bootstrap_form_errors form %}

            <div class="col-lg-12 col-sm-12 background-gris">
                <div class="showback">
                    <h4 class="mb"> {% trans "Formulaire" %}</h4>
                    {% bootstrap_form form %}
                </div>
            </div>

            <div class="col-sm-12">
            {% buttons %}
            <div class="row">
                <div class="col-md-6 mb"><button type="submit" class="btn btn-success btn-lg btn-block">
                        {% bootstrap_icon "ok" %} &nbsp; {% trans "Proposer son aide" %}
                </button></div>
                <div class="col-md-6"><a href="{% url 'home' %}" class="btn btn-danger btn-lg btn-block">
                        {% bootstrap_icon "remove" %} &nbsp; {% trans "Annuler" %}
                </a></div>
            </div>
            {% endbuttons %}
            </div>

        </form>
    </div>
</div>

{% endblock %}


{% block extra_footer %}
<script type="text/javascript">
{{ form.media }}
$(document).ready(function () {
  var to_keep = [
  {% for pt in possible_time %}
    {{pt}}-1,
  {% endfor %}
  ]
  //alert(to_keep);
  var total_checkbox = $("div.checkbox").length;
  for(var i=0; i < total_checkbox; ++i){

    if(to_keep.indexOf(i) !== -1){
      
    } else {
      $('#id_time_'+i+'').parent().parent().remove();
    }
  }
  
  
});
</script>
{% endblock %}
