{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load jobs_extra %}{% load staticfiles %}


{% block title %}{% trans "Accueil" %}{% endblock %}


{% block content %}
<div class="row mt">
  <div class="col-md-6"> <a class="btn btn-primary btn-lg" href="{% url "similar_offers" %}">{% trans "Chercher des offres intéressantes" %}</a> </div>
  <div class="col-md-6"><a class="btn btn-primary btn-lg" href="{% url "similar_demands" %}">{% trans "Chercher des demandes intéressantes" %}</a></div>
</div>

<div class="row mt">
  {% show_offers request result_offers %}
  {% show_demands request result_demands %}

</div>

{% endblock %}

{% block extra_footer %}
<script src="{% static 'js/rowlink.js' %}"></script>
{% endblock %}
