{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}


{% block title %}{% trans "Accueil" %}{% endblock %}


{% block content %}

<div class="row mt">
  <div class="col-md-4 col-md-offset-2"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#needHelpModal">{% trans "J'ai besoin d'aide" %}</button> </div>
  <div class="col-md-4 col-md-offset-2"><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#offerHelpModal">{% trans "Offrir mon aide" %}</button></div>
</div>

<!-- need help Modal -->
<div class="modal fade" id="needHelpModal" tabindex="-1" role="dialog" aria-labelledby="needHelpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "fermer" %}</span></button>
        <h4 class="modal-title" id="needHelpLabel">{% trans "J'ai besoin d'aide" %}</h4>
      </div>
      <div class="modal-body text-center">
        {% if request.user.is_authenticated %}
        <p class="text-info">{% trans "Dans quelle branche souhaitez-vous demander de l'aide ?" %}</p>

        <div class="btn-group-vertical" role="group">
        {% for mbranch in request.user.membership.all %}
        <a href="{% url "need_help" branch_id=mbranch.branch.id slug=mbranch.branch.slug %}" class="btn btn-primary btn-lg btn-block">{{ mbranch.branch }}</a> 
        {% endfor %}
        </div>

        {% else %}
        <div class="alert alert-info" role="alert">
        {% blocktrans %} Vous devez être connecté afin de pouvoir demander de l'aide. <br />
        Pas encore inscrit ? {% endblocktrans %}<a href="{% url 'registration_register' %}">{% trans "Inscrivez-vous" %}</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- offer help Modal -->
<div class="modal fade" id="offerHelpModal" tabindex="-1" role="dialog" aria-labelledby="offerHelpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "fermer" %}</span></button>
        <h4 class="modal-title" id="offerHelpLabel">{% trans "Offrir mon aide" %}</h4>
      </div>
      <div class="modal-body text-center">
        {% if request.user.is_authenticated %}
        <p class="text-info">{% trans "Dans quelle branche souhaitez-vous offrir votre aide ?" %}</p>

        <div class="btn-group-vertical" role="group">
        {% for mbranch in request.user.membership.all %}
        <a href="{% url "offer_help" branch_id=mbranch.branch.id slug=mbranch.branch.slug %}" class="btn btn-primary btn-lg btn-block">{{ mbranch.branch }}</a> 
        {% endfor %}
        </div>

        {% else %}
        <div class="alert alert-info" role="alert">
        {% blocktrans %} Vous devez être connecté afin de pouvoir offrir votre aide. <br />
        Pas encore inscrit ? {% endblocktrans %}<a href="{% url 'registration_register' %}">{% trans "Inscrivez-vous" %}</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row mt">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans "Demandes" %}
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
            <th> {% trans "Branch" %}</th>
            <th> {% trans "Demandeur" %}</th>
            <th> {% trans "Date" %}</th>
            <th> {% trans "Categorie" %}</th>
            </tr>
          </thead>
          <tbody>
          {% for demand in demands %}
          <tr>
            <td> {{ demand.branch }} </td>
            <td> {{ demand.receiver }} </td>
            <td> {{ demand.date }} </td>
            <td> {{ demand.get_verbose_category }} </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans "Offres" %}
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
            <th> {% trans "Branch" %}</th>
            <th> {% trans "Offreur" %}</th>
            <th> {% trans "Date" %}</th>
            <th> {% trans "Categorie" %}</th>
            </tr>
          </thead>
          <tbody>
          {% for offer in offers %}
          <tr>
            <td> {{ offer.branch }} </td>
            <td> {{ offer.receiver }} </td>
            <td> {{ offer.date }} </td>
            <td> {{ offer.get_verbose_category }} </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
