{% load i18n thumbnail humanize %}
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      {% trans "Demandes" %}
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover rowlink">
        <thead>
          <tr>
            <th>{% trans "Membre" %}</th>
            <th>{% trans "Categorie" %}</th>
            {% if show_branch %}
            <th>{% trans "Branche" %}</th>
            {% endif %}
            <th>{% trans "Titre" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Heure" %}</th>
          </tr>
        </thead>
        <tbody data-link="row" data-target="a.mainlink">
        {% for demand in demands %}
        <tr>
          <td class="rowlink-skip"><a data-toggle="tooltip" data-placement="right" title="{{demand.receiver.get_full_name}}" href="{{ demand.receiver.get_absolute_url }}"><img class="img-circle" src="{% thumbnail demand.receiver.photo 50x50 crop %}" alt="{{demand.receiver.get_full_name}}" /></a></td>
          <td>{{ demand.get_verbose_category }}</td>
          {% if show_branch %}
          <td> {{ demand.branch }} </td>
          {% endif %}
          <td><a href="{% url 'see_demand' branch_id=demand.branch.id slug=demand.branch.slug demand_id=demand.id %}" class="mainlink"> {{ demand.title }}</a></td>

          <td>{{ demand.date | naturalday:'SHORT_DATE_FORMAT' }}</td>
          <td>{{ demand.get_short_time }}</td>
          
        </tr>
        {% empty %}
        <tr>
          <td colspan="{% if show_branch %}6{% else %}5{% endif %}">
            <p class="text-info text-center">{% trans "Aucune demande" %}</p>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>