{% load i18n %}
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      {% trans "Demandes" %}
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
          {% if show_branch %}
          <th> {% trans "Branch" %}</th>
          {% endif %}
          <th> {% trans "Demandeur" %}</th>
          <th> {% trans "Date" %}</th>
          <th> {% trans "Categorie" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for demand in demands %}
        <tr>
          {% if show_branch %}
          <td> {{ demand.branch }} </td>
          {% endif %}
          <td> {{ demand.receiver }} </td>
          <td> {{ demand.date | date:'l d M y' }}</td>
          <td> {{ demand.get_verbose_category }} </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>