{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}


{% block title %}{% trans "Bienvenue !" %}{% endblock %}


{% block content %}
<h3><i class="fa fa-angle-right"></i> {% trans "Bienvenue !" %}</h3>

<div class="row mt">
	<div class="col-lg-12">
		<div class="content-panel pn">
			<div id="blog-bg">
				<div class="badge badge-popular">Welcome</div>
				<div class="blog-title">{% trans "Pour bien commencer.." %}</div>
			</div>
			<div class="showback">
				<h3>{% trans "Pour commencer à utiliser le site:" %}</h3>
				<a href="{% url 'home' %}">{% trans "Cliquez ici" %}</a>
				<h3>{% trans "Pour avoir de l'aide avant de commencer:" %}</h3>
				<a href="{% url 'help' %}">{% trans "Cliquez ici" %}</a>
				
			</div>
		</div>
	</div><!-- col-lg-12-->      	
</div>
{% endblock %}
