{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load staticfiles %}


{% block title %}{% trans "Inscription" %}{% endblock %}


{% block content %}
<h3><i class="fa fa-angle-right"></i> {% trans "Inscription" %}</h3>

<div class="row mt">
    <div class="col-lg-12">
        <form action="." role="form" method="post">
            <h3 class="mb">{% trans "Complétez les informations suivantes afin de créer votre compte" %}</h3>
            {% csrf_token %}

            {% bootstrap_form_errors form %}

            <div class="row mt">
                <div class="col-lg-6 col-sm-12 background-gris">
                    <div class="showback">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> {% trans "Informations de connexion" %}</h4>
                        {% bootstrap_field form.username %}

                        {% bootstrap_field form.password1 %}
                        {% bootstrap_field form.password2 %}
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 background-gris">
                    <div class="showback">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> {% trans "Informations générales" %}</h4>
                        {% bootstrap_field form.first_name %}
                        {% bootstrap_field form.last_name %}
                        {% bootstrap_field form.birth_date %}
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 background-gris">
                    <div class="showback">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> {% trans "Informations de contact" %}</h4>
                        {% bootstrap_field form.phone_number %}
                        {% bootstrap_field form.mobile_number %}
                        {% bootstrap_field form.email %}
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 background-gris">
                    <div class="showback">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> {% trans "Comment avez-vous entendu parler de nous 	?" %}</h4>
                        {% bootstrap_field form.how_found %}
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 background-gris">
                    <div class="showback">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> {% trans "Type de compte" %}</h4>
                        {% bootstrap_field form.user_type %}
                    </div>
                </div>


            </div>

            {% buttons %}
            <button type="submit" class="btn btn-success btn-lg btn-block">
                {% bootstrap_icon "ok" %} &nbsp; {% trans "M'inscrire" %}
            </button>
            {% endbuttons %}
        </form>
    </div>
</div><!-- col-lg-12-->
</div>
{% endblock %}

{% block extra_footer %}
{{ form.media }}
{% endblock %}
