{% load bootstrap3 %}{% load staticfiles %}{% load i18n %}{% load branches %}{% load thumbnail %} {% load postman_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Care4Care - {% block title %}{% endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static "css/zabuto_calendar.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "js/gritter/css/jquery.gritter.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lineicons/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/flag-icon.min.css" %}" />

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/profile.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/chart-master/Chart.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_head %}
    {% endblock %}
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="{% trans "Activer/désactiver le menu de navigation" %}"></div>
              </div>
            <!--logo start-->
            <a href="{% url 'home' %}" class="logo"><b>CARE 4 CARE</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->


                <ul class="nav top-menu">
                  {% comment %}
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-white"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    {% endcomment %}
                    {% if request.user.is_authenticated %}
                    <!-- inbox dropdown start-->
                    {% postman_unread as unread_count %}
                    <li id="header_inbox_bar" class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            {% if  unread_count %}
                            <span class="badge bg-theme"> {{  unread_count }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-white"></div>
                            <li><span> <a href="{% url 'postman_inbox' %}"> {% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a> </span></li>
                            <li><span><a href="{% url 'postman_sent' %}"> {% trans "Sent Messages" %}</a></span></li>
                            <li><span><a href="{% url 'postman_write' %}"> {% trans "Write" %}</a></span></li>
                            <li><span><a href="{% url 'postman_archives' %}"> {% trans "Archives" %}</a></span></li>
                            <li><span><a href="{% url 'postman_trash' %}"> {% trans "Trash" %}</a></span></li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    {% endif %}
                </ul>
                <!--  notification end -->

            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                {% if not request.user.is_authenticated %}
                <li>
                  <button type="button" class="btn btn-theme02 btn-login force-size" onclick="window.location.href='{% url 'registration_register' %}'">
                    {% bootstrap_icon 'pencil' %}
                    {% trans "Inscription" %}
                  </button>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="credit-menu">
                  <ul>
                    <li>
                      <span class="credit-text text-info">{% trans "Crédit restant :" %}</span> {{ request.user.get_verbose_credit | safe }}
                    </li>
                    <li>
                      <span  class="credit-text text-info">{% trans "Type de compte :" %}</span> {{ request.user.get_account_type }}
                      {% if not request.user.is_verified %}
                      <a href="{% url 'verified_profile' request.user.id %}"> <i class="fa fa-caret-square-o-up"></i></a>
                      {% endif %}
                    </li>
                  </ul>
                </li>
                {% endif %}
                <li class="dropdown">{% block connect %}
                  <button type="button" class="btn btn-theme03 btn-login force-size dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    {% if request.user.is_authenticated %}
                      {{ request.user.get_full_name }} <span class="caret"></span>
                    {% else %}
                      {% trans "Se connecter" %} <span class="caret"></span>
                    {% endif %}
                  </button>{% endblock %}
                  {% if request.user.is_authenticated %}
                  <ul class="dropdown-menu" role="user-menu">
                    <li><a href="{% url 'profile' %}">
                    {% bootstrap_icon 'user' %} &nbsp; {% trans "Mon Profil" %}</a>
                    {% if not request.user.is_verified %}
                      <a href="{% url 'verified_profile' user_id=request.user.id%}">
                      {% bootstrap_icon 'star' %} &nbsp; {% trans "Devenir vérifié" %}</a>
                    {% endif %}
                   </li>
                    <li class="divider"></li>
                    {% if request.user.is_superuser %}
                    <li><a href="/admin/">{% bootstrap_icon 'star' %} &nbsp; {% trans "Administration" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">
                    {% bootstrap_icon 'log-out' %} &nbsp; {% trans "Se déconnecter" %}</a>
                    </li>
                  </ul>
                  {% else %}
                  <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">
                                    {% csrf_token %}
                                    <div class="form-group">
                                       <label class="sr-only" for="username">{% trans "Nom d'utilisateur" %}</label>
                                       <input type="input" class="form-control" name="username" id="username" placeholder='{% trans "Utilisateur" %}' required>
                                    </div>

                                    <div class="form-group">
                                       <label class="sr-only" for="password">{% trans 'Mot de passe' %}</label>
                                       <input type="password" class="form-control" name="password" id="password" placeholder="{% trans 'Mot de passe' %}" required>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-theme btn-block">{% trans "se connecter"%}</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                           <input class="btn btn-theme03 btn-block" type="button" id="sign-in-google" value="{% trans "se connecter via Google"%}">
                           <input class="btn btn-theme03 btn-block" type="button" id="sign-in-twitter" value="{% trans "se connecter via Twitter"%}">
                        </li>
                     </ul>
                  {% endif %}
                </li>
                <li>
                  <div class="lang-box">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_language_info for LANGUAGE_CODE as lang %}
                  <form action="{% url 'set_language' %}" method="post" id="lang_form">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" id="lang" type="hidden">

                    <button type="button" class="btn btn-default btn-lang dropdown-toggle force-size" data-toggle="dropdown">
                      <span class="flag-icon flag-icon-{{lang.code}}"></span>
                      {{ lang.name_local|capfirst }} <span class="caret"></span>
                    </button>
                    {% get_language_info_list for LANGUAGES as languages %}
                    <ul class="dropdown-menu lang-menu" role="lang">
                      {% for language in languages %}
                      <li onclick="$('#lang').val('{{ language.code }}'); $('#lang_form').submit()"><span class="flag-icon flag-icon-{{ language.code }}"></span>&nbsp;{{ language.name }}</li>
                      {% endfor %}
                    </ul>
                  </form>
                  </div>
                </li>
              </ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  {% if request.user.photo %}
                  <p class="centered"><a href="{% url 'profile' %}">
                      <img src="{% thumbnail request.user.photo 60x60 crop %}" class="img-circle" width="60">
                  </a></p>
                  {% endif %}

                  <li>
                      <a href="{% url "home" %}">
                          <i class="fa fa-home"></i>
                          <span>{% trans "Accueil" %}</span>
                      </a>
                  </li>

                  {% if request.user.is_authenticated %}
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-globe"></i>
                          <span>{% trans "Branches" %}</span>
                      </a>
                      <ul class="sub">
                      {% if not request.user.is_superuser %}
                        {% for branch in request.user.membership.all %}
                          <li><a href="{{ branch.branch.get_absolute_url }}"><i class="fa fa-map-marker"></i>{{ branch.branch }}</a></li>
                        {% endfor %}
                      {% else %}
                        <i style="margin-top: 5px; display: block;">{% trans "En tant que superuser, vous voyez toutes les branches" %}</i>
                        {% branches %}
                      {% endif %}

                          {% if not request.user.is_superuser %}
                          <li><a href="{% url "branch_join" %}"><i class="fa fa-plus"></i>{% trans "Rejoindre une branche" %}</a></li>
                          {% endif %}
                          {% if request.user.is_verified %}
                            <li><a href="{% url "branch_create" %}"><i class="fa fa-code-fork"></i>{% trans "Créer une branche" %}</a></li>
                          {% endif %}
                      </ul>
                  </li>
                  {% endif %}

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>{% trans "News" %}</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>{% trans "Offres d'emploi" %}</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>{% trans "Aide" %}</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>{% trans "A propos" %}</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">Basic Table</a></li>
                          <li><a  href="responsive_table.html">Responsive Table</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a  href="{% url 'stats' %}">
                        <i class=" fa fa-bar-chart-o"></i>
                        {% trans "Statistiques" %}
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            {% block content %}
              <div class="row">
                  <div class="col-lg-9">

                    {% block main_content %}
                    {% endblock %}

                  </div><!-- /col-lg-9 END SECTION MIDDLE -->


      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

                  <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
            <h3>NOTIFICATIONS</h3>

                      <!-- First Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>2 Minutes Ago</muted><br/>
                             <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>3 Hours Ago</muted><br/>
                             <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Third Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>7 Hours Ago</muted><br/>
                             <a href="#">Brandon Page</a> purchased a year subscription.<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Fourth Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>11 Hours Ago</muted><br/>
                             <a href="#">Mark Twain</a> commented your post.<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Fifth Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>18 Hours Ago</muted><br/>
                             <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
                          </p>
                        </div>
                      </div>

                       <!-- USERS ONLINE SECTION -->
            <h3>TEAM MEMBERS</h3>
                      <!-- First Member -->
                      <div class="desc">
                        <div class="thumb">
                          <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                          <p><a href="#">DIVYA MANIAN</a><br/>
                             <muted>Available</muted>
                          </p>
                        </div>
                      </div>
                      <!-- Second Member -->
                      <div class="desc">
                        <div class="thumb">
                          <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                          <p><a href="#">DJ SHERMAN</a><br/>
                             <muted>I am Busy</muted>
                          </p>
                        </div>
                      </div>
                      <!-- Third Member -->
                      <div class="desc">
                        <div class="thumb">
                          <img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                          <p><a href="#">DAN ROGERS</a><br/>
                             <muted>Available</muted>
                          </p>
                        </div>
                      </div>
                      <!-- Fourth Member -->
                      <div class="desc">
                        <div class="thumb">
                          <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                          <p><a href="#">Zac Sniders</a><br/>
                             <muted>Available</muted>
                          </p>
                        </div>
                      </div>
                      <!-- Fifth Member -->
                      <div class="desc">
                        <div class="thumb">
                          <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                          <p><a href="#">Marcel Newman</a><br/>
                             <muted>Available</muted>
                          </p>
                        </div>
                      </div>

                        <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->

                  </div><!-- /col-lg-3 -->
              </div><!-- /row -->
              {% endblock %}
          </section>
      </section>

      <!--main content end-->

      {% comment %}
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Alvarez.is
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
      {% endcomment %}

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    {% block bootstrapjs %}<script src="{% static "js/bootstrap.min.js" %}"></script>{% endblock %}
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/jquery.hoverIntent.minified.js" %}"></script>
    <script class="include" type="text/javascript" src="{% static "js/jquery.dcjqaccordion.2.7.js" %}"></script>
    <script src="{% static "js/jquery.scrollTo.min.js" %}"></script>

    {% comment %}
    <script src="{% static "js/jquery.nicescroll.js" %}" type="text/javascript"></script>
    {% endcomment %}
    <script src="{% static "js/jquery.sparkline.js" %}"></script>



    <!--common script for all pages-->
    <script src="{% static "js/common-scripts.js" %}"></script>

    <script type="text/javascript" src="{% static "js/jquery.gritter.min.js" %}"></script>

    {% comment %}
    <!--script for this page-->
    <script src="{% static "js/sparkline-chart.js" %}"></script>
    <script src="{% static "js/zabuto_calendar.js" %}"></script>
    {% endcomment %}

  <script type="text/javascript">

        $(document).ready(function () {
        //Handles menu drop down
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });

        {% for message in messages %}
            var unique_id = $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Notification',
                // (string | mandatory) the text inside the notification
                text: '{{ message }}',
                // (string | optional) the image to display on the left
                //image: 'assets/img/ui-sam.jpg',
                // (bool | optional) if you want it to fade out on its own or just sit there
                sticky: false,
                // (int | optional) the time you want it to be alive for before fading out
                time: '5000',
                // (string | optional) the class name you want to apply to that specific message
                //class_name: 'notification-class'
            });
        {% endfor %}

        return false;
        });
  </script>
  {% block extra_footer %}{% endblock %}

  </body>
</html>
