{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load jobs_extra %}{% load staticfiles %}


{% block title %}{% trans "News" %}{% endblock %}


{% block content %}
<div class="row mt">
  	<div class="col-lg-12">
  		{% if request.user.is_superuser %}
  			<div class="text-right"><a class="btn btn-primary btn-lg mb" href="{% url 'news_add' %}">{% trans "Créer une news" %}</a></div>
 		{% endif %}

	{% for a in news %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><a href="{{ a.get_absolute_url }}" class="panel-title">{{ a.titre | safe }}</a>
			{% if request.user.is_superuser %}
				<a class="btn btn-default btn-xs btn-danger pull-right btn-modify" href="{{ a.get_absolute_modify_url }}"><span class="fui-gear"></span>Modifier</a>
			{% endif %}
			</h4>
		</div>

		<div class="panel-body">
			<p>{{ a.corps |truncatechars:140}}</p>

			<a href="{{ a.get_absolute_url }}" class="btn btn-inverse btn-sm more pull-right">Lire la suite »</a>
			<i class="pull-left author">&Eacute;crit le {{a.date_creation | date:"d/m/y"}} par {{ a.auteur.username | safe }}</i>
		</div>
	</div>
	{% endfor %}
	<div class="text-center">
	<ul class="pagination pagination-centered">
            {% if news.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ news.previous_page_number }}"><</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                <li {% if news.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if news.has_next %}
                <li><a href="?page={{ news.next_page_number }}">></a></li>
                <li><a href="?page={{ news.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    </div>
</div>
</div>


{% endblock %}

{% block extra_footer %}
<script src="{% static 'js/rowlink.js' %}"></script>
{% endblock %}
