{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load jobs_extra %}{% load staticfiles %}

{% block title %}{{ a.titre }}{% endblock %}


{% block extra_head %}
<meta content="http://{{request.META.HTTP_HOST}}{% static "img/care4care.jpg" %}" property="og:image"></meta>
{% endblock %}

{% block content %}
<img src="{% static "img/care4care.jpg" %}" style="display:none;">
<div id="fb-root"></div>

<div class="row mt">
  	<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><a href="{{ a.get_absolute_url }}" class="panel-title">{{ a.titre | safe }}</a>

			<div class="fb-share-button pull-right" data-layout="button" data-href="{{a.get_absolute_url}}"></div>
			
			{% if request.user.is_superuser %}
				<a class="btn btn-default btn-xs btn-primary pull-right" href="{{ a.get_absolute_modify_url }}" style="margin-right : 15px;"><span class="fui-gear"></span>{% trans "Modifier" %}</a>
			{% endif %}

			</h4>
		</div>

		<div class="panel-body">
			<p>{{ a.corps|urlize|linebreaksbr }}</p>

			<i class="pull-left author">{% trans "&Eacute;crit le "%}{{a.date_creation | date:"d/m/y"}} {% trans "par" %} {{ a.auteur.username | safe }}</i>
		</div>
	</div>

</div>
</div>


{% endblock %}

{% block extra_footer %}
<script src="{% static 'js/rowlink.js' %}"></script>

{% get_current_language as LANGUAGE_CODE %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  {% if LANGUAGE_CODE == 'fr' %}
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=958033600891660&version=v2.0";
  {% elif LANGUAGE_CODE == 'nl' %}
  js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&appId=958033600891660&version=v2.0";
  {% else %}
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&appId=958033600891660&version=v2.0";
  {% endif %}
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
