{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load jobs_extra %}{% load staticfiles %}


{% block title %}{{ a.titre }}{% endblock %}


{% block content %}
<div class="row mt">
  	<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><a href="{{ a.get_absolute_url }}" class="panel-title">{{ a.titre | safe }}</a>
			{% if request.user.is_superuser %}
				<a class="btn btn-default btn-xs btn-danger pull-right btn-modify" href="{{ a.get_absolute_modify_url }}"><span class="fui-gear"></span>{% trans "Modifier"}</a>
			{% endif %}
			</h4>
		</div>

		<div class="panel-body">
			<p>{{ a.corps}}</p>

			<i class="pull-left author">{% trans "&Eacute;crit le "%}{{a.date_creation | date:"d/m/y"}} {% trans "par" %} {{ a.auteur.username | safe }}</i>
		</div>
	</div>

</div>
</div>


{% endblock %}

{% block extra_footer %}
<script src="{% static 'js/rowlink.js' %}"></script>
{% endblock %}
