{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}


{% block title %}{% trans "Demande de vérification" %}{% endblock %}


{% block content %}
<h3><i class="fa fa-angle-right"></i> {% trans "Demande de vérification" %}</h3>

<div class="row mt">
  <div class="col-lg-12">
    <form action="." role="form" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="col-lg-12 col-sm-12 background-gris">
            <ul class="list-group">
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Nom" %}</strong></span> &nbsp; {{user_to_display.get_full_name}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Date d'inscription" %}</strong></span> &nbsp; {{user_to_display.date_joined}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Email" %}</strong></span> &nbsp; {{user_to_display.email}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Adresse" %}</strong></span> &nbsp; {{user_to_display.location}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Langues" %}</strong></span> &nbsp; {{user_to_display.get_verbose_languages}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Type de compte" %}</strong></span> &nbsp; {{user_to_display.get_account_type}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Statut" %}</strong></span> &nbsp; {{user_to_display.get_verbose_status}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Telephone Fixe" %}</strong></span> &nbsp; {{user_to_display.phone_number}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "GSM" %}</strong></span> &nbsp; {{user_to_display.mobile_number}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Lien vers le profil Facebook" %}</strong></span> &nbsp; <a href="{{user_to_display.facebook}}"> <i class="fa fa-facebook"></i> Facebook </a> </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Tâches offertes" %}</strong></span> &nbsp; {{user_to_display.get_verbose_offered_job}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Recevoir messages par" %}</strong></span> &nbsp; {{user_to_display.get_verbose_mail}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Recevoir les offres et les demandes par" %}</strong></span> &nbsp; {{user_to_display.get_verbose_receive}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Voiture" %}</strong></span> &nbsp;
                {% if user_to_display.have_car %}
                  {% trans "Oui" %}
                {% else %}
                  {% trans "Non" %}
                {% endif %}
              </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Permis" %}</strong></span> &nbsp; {{user_to_display.get_verbose_license}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Peut transporter une personne en chaise roulante" %}</strong></span> &nbsp;
               {% if user_to_display.can_wheelchair %}
                  {% trans "Oui" %}
                {% else %}
                  {% trans "Non" %}
                {% endif %}              </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Hobbies" %}</strong></span> &nbsp; <textarea readonly style="width:100% " rows = "4">{{user_to_display.hobbies}} </textarea> </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Informations supplémentaires" %}</strong></span> &nbsp; <textarea readonly style="width:100% " rows = "4">{{user_to_display.additional_info}} </textarea> </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Lettre de recommandation n°1" %}</strong></span> &nbsp; <a href="{{verified_documents.recomendation_letter_1.url}}"> {% bootstrap_icon "download" %} Télécharger </a> </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Lettre de recommandation n°2" %}</strong></span> &nbsp; <a href="{{verified_documents.recomendation_letter_2.url}}"> {% bootstrap_icon "download" %} Télécharger </a> </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Casier judiciare" %}</strong></span> &nbsp; <a href="{{verified_documents.criminal_record.url}}"> {% bootstrap_icon "download" %} Télécharger </a> </li>

            </ul>
        {% buttons %}
        <div class="row mt mb">
          <div class="col-lg-12 mb"><a href="{{verified_documents.get_message_url}}" class="btn btn-info btn-lg btn-block">
        	{% bootstrap_icon "glyphicon glyphicon-envelope" %} &nbsp; {% trans "Fixer un rendez vous" %}
        </a></div>
          <div class="col-lg-12 mb"><a href="{% url 'verified_giving_status' user_to_display.id %}" class="btn btn-success btn-lg btn-block">
            {% bootstrap_icon "star" %} &nbsp; {% trans "Accorder le statut de membre vérifié" %}
            </a></div>
            <div class="col-lg-12 membre"><a href="{% url 'verified_refuse_status' user_to_display.id %}" class="btn btn-danger btn-lg btn-block">
        	{% bootstrap_icon "remove" %} &nbsp; {% trans "Refuser la demande" %}
        </a></div>
        </div>
        {% endbuttons %}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block extra_footer %}
<script>
    $(document).ready(function () {

        // https://github.com/sgruhier/typeahead-addresspicker
        // instantiate the addressPicker suggestion engine (based on bloodhound)
        var addressPicker = new AddressPicker({
            map: {id: '#map', center: new google.maps.LatLng({{ form.latitude.value | default:'50.846975' }}, {{ form.longitude.value | default:'4.351815699999975' }}), zoom:15,},
            marker: {visible: true, draggable: false, scrollwheel: false,}
        });

        // instantiate the typeahead UI
        $('#id_location_input').typeahead(null, {
            displayKey: 'description',
            source: addressPicker.ttAdapter()
        });

        // Bind some event to update map on autocomplete selection
        $('#id_location_input').bind("typeahead:selected", addressPicker.updateMap);
        $('#id_location_input').bind("typeahead:cursorchanged", addressPicker.updateMap);

        addressPicker.bindDefaultTypeaheadEvent($('#id_location_input'))

        $(addressPicker).on('addresspicker:selected', function (event, result) {
            $('#id_latitude').val(result.lat());
            $('#id_longitude').val(result.lng());
            $('#id_location').val($('#id_location_input').typeahead('val'));
        });

    });

</script>
{{ form.media }}
{% endblock %}
