{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    {% trans "Favoris" %}
    <div class="pull-right">
    </div>
  </div>
  <div class="panel-body">
    <table id="favorites_table" data-toggle="table" class="table table-striped table-hover " data-pagination="true">
      <thead>
        <tr>
          <th> {% trans "Nom" %} </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for personne in favorites %}
        <tr id="favorite_{{personne.id}}">
          <td> <a href="{% url 'user_profile' personne.id %}"> {{ personne.get_full_name }} </a></td>
          <td>
            <a href="{{ personne.id }}" class="pull-right remove_favorite_link">
              <li class="glyphicon glyphicon-remove"> </li>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>
            <p class="text-info text-center">{% trans "Aucun favori" %}</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="application/javascript">
var remove_favorite_from_list_success = function(name,id_remove){
  $("#favorite_" + id_remove).remove();
}

$(document).ready(function(){

  $('#favorites_table').bootstrapTable(); // init via javascript

  $(window).resize(function () {
      $('#favorites_table').bootstrapTable('resetView');
  });

  $('.remove_favorite_link').click(function (event) {
    event.preventDefault();
    remove_favorite($(this).attr("href"), remove_favorite_from_list_success);
  });
});
</script>
