{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    {% trans "Favoris" %}
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th> {% trans "Nom" %} </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for personne in favorites %}
        <tr id="delete_{{personne.id}}">
          <td> <a href="{% url 'user_profile' personne.id %}"> {{ personne.get_full_name }} </a></td>
          <td>
            <a href="{{ personne.id }}" class="pull-right remove_favorite_link" >
              <li class="glyphicon glyphicon-remove"> </li>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
