{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    {% trans "Mon réseau" %}
    <div class="pull-right">
    </div>
  </div>
  <div class="panel-body">
    <table id="network_table" data-toggle="table"  class="table table-striped table-hover" data-pagination="true">
      <thead>
        <tr>
          <th> {% trans "Nom" %} </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for personne in network %}
        <tr id="network_{{personne.id}}">
          <td><a href="{% url 'user_profile' personne.id %}"> {{ personne.get_full_name }} </a> </td>
          <td>
            <a href="{{ personne.id }}" class="pull-right remove_network_link" >
              <li class="glyphicon glyphicon-remove">  </li>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>
            <p class="text-info text-center">{% trans "Aucun utilisateur dans votre réseau" %}</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="application/javascript">
var remove_network_from_list_success = function(name,id_remove){
  $("#network_" + id_remove).remove();
}
$(document).ready(function(){

  $('#network_table').bootstrapTable(); // init via javascript

  $(window).resize(function () {
      $('#network_table').bootstrapTable('resetView');
  });

  $('.remove_network_link').click(function (event) {
    event.preventDefault();
    remove_network($(this).attr("href"), remove_network_from_list_success);
  });
});
</script>
