{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}

{% block title %}{% trans "Profile management" %}{% endblock %}

{% block content %}
<div class="">
  <div class="row">
    <div class="col-sm-10"><h1>{{user.username}}</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{user.date_joined}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> empty</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> empty</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> {{user.email}}</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"><a href="http://bootply.com">care4care.com</a></div>
      </div>


      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>

    </div>
  </div>
  {% endblock %}
