{% extends "base.html" %}
{% load bootstrap3 %}{% load i18n %}{% load staticfiles %}{% load thumbnail %}{% load jobs_extra %} {% load profile %}

{% block title %}{% trans "Gestion du profil" %}{% endblock %}


{% block extra_head %}
<script src="{% static "js/user-profile-api.js" %}"></script>
<script src="{% static "js/rowlink.js" %}"></script>
{% endblock %}

{% block content %}
<div class="mt ">
<ul class="nav nav-tabs" id="myTab">

  <li class="active"><a data-toggle="tab" href="#profile">{% trans 'Profile' %}</a></li>
  {% if request.user.id == user_to_display.id %}
  <li><a data-toggle="tab" href="#favoris">{% trans 'Favoris' %}</a></li>
  <li><a data-toggle="tab" href="#network" />{% trans 'Mon Réseau' %}</a></li>
  <li><a data-toggle="tab" href="#jobs" />{% trans 'Aides en attente' %}</a></li>
  {% endif %}
</ul>

<div class="tab-content">

  <div id="profile" class="tab-pane fade in active">
      <input id="user_id" value="{{ user_to_display.id }}" type="hidden"/>
      <input id="csrf_token" value="{{ csrf_token }}" type="hidden"/>
      <div class="row mt ">
        <div class="col-sm-6"><!--left col-->

          <div class="panel panel-default">
            <div class="panel-heading profile-head">

              <div class="text-right">
                <div class="pull-left">
                  <div class="media">
                    <a class="media-left" href="#">
                      <img class="img-circle" src="{% thumbnail user_to_display.photo 50x50 crop %}" />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">{{user_to_display.get_full_name}}
                      </h4>
                    </div>
                  </div>
                </div>


                {% if request.user.id != user_to_display.id %}

                <a href="#{{is_my_friend}}" class="btn btn-default btn-sm" id="add_favorite_link">
                  {% if is_my_friend %}
                  <span class="glyphicon glyphicon glyphicon-star" id="is_favorite_star">  </span> {% trans 'Favoris' %}
                  {% else %}
                  <span class="glyphicon glyphicon glyphicon-star-empty" id="is_favorite_star">  </span> {% trans 'Favoris' %}
                  {% endif %}
                </a>

                <a href="#{{is_in_my_network}}" class="btn btn-default btn-sm" id="add_network_link">
                  {% if is_in_my_network %}
                    {% trans 'Retirer de mon réseau' %}
                  {% else %}
                    {% trans 'Ajouter à mon réseau' %}
                  {% endif %}
                </a>

                {% endif %}

                {%  if request.user.id == user_to_display.id or request.user.is_superuser %}
                <!-- TODO: Fix this shit -->
                <a class="text-right" href="{% url 'edit_profile' user_to_display.id %}">
                  {% bootstrap_icon "edit" %} {% trans 'Modifier' %}
                </a>
                {% endif %}
              </div>
            </div>

            <ul class="list-group">
              <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Date d'inscription" %}</strong></span> &nbsp; {{user_to_display.date_joined}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Nom" %}</strong></span> &nbsp; {{user_to_display.get_full_name}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Email" %}</strong></span> &nbsp; {{user_to_display.email}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Type de compte" %}</strong></span> &nbsp; {{user_to_display.get_account_type}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Status" %}</strong></span> &nbsp; {{user_to_display.get_verbose_status}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Telephone Fixe" %}</strong></span> &nbsp; {{user_to_display.phone_number}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "Telephone Mobile" %}</strong></span> &nbsp; {{user_to_display.mobile_number}} </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong> {% trans "GSM" %}</strong></span> &nbsp; {{user_to_display.mobile_number}} </li>
            </ul>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading"> {% trans "Données professionnelles" %} <i class="fa fa-link fa-1x"></i></div>
            <ul class="list-group">

              <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Organization" %}</strong></span> <div> &nbsp; {{user_to_display.organization}} </div> </li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Profession" %}</strong></span> &nbsp; {{user_to_display.work}} </li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"> {% trans "Site web" %} <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootply.com">care4care.com</a></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"> {% trans "Réseaux sociaux" %}</div>
            <div class="panel-body">
              <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-twitter fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>

        </div>
        {% if request.user.id == user_to_display.id or request.user.is_superuser %}
        <!-- Emergency users -->
        <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-right">
              <span class="pull-left">
                {% trans "Contacts d'urgence" %}
              </span>
              <a href="{% url 'add_emergency_contact' user_to_display.id %}">
                {% bootstrap_icon "plus" %} {% trans 'Ajouter' %}
              </a>
            </div>

          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover rowlink">
              <thead>
                <tr>
                <th> {% trans "Prénom" %}</th>
                <th> {% trans "Nom" %}</th>
                <th> {% trans "Priorité" %}</th>
                <th> {% trans "Modifier" %}</th>
                </tr>
              </thead>
              <tbody data-link="row">
              {% for personne in user_to_display.emergency_contacts.all %}
              <tr>
                <td><a href="{% url 'see_emergency_contact' personne.id %}">{{ personne.first_name }}</a></td>
                <td>{{ personne.last_name }}</td>
                <td>{{ personne.get_verbose_order }}</td>
                <td><a href="{% url 'update_emergency_contact' user_to_display.id personne.id %}">{% bootstrap_icon 'edit' %} &nbsp; {% trans "Modifier" %}</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      </div>
  </div>

  <div id="favoris" class="tab-pane fade ">
    <div class="row mt">
      {% if request.user.id == user_to_display.id %}
      <div class="col-lg-6 col-sm-6">
        {% show_favorites request user_to_display.favorites.all %}
      </div>
    </div>
  </div>

  <div id="network" class="tab-pane fade">
    <div class="row mt">
      <div class="col-lg-6 col-sm-6">
        {% show_personal_network request user_to_display.personal_network.all %}
      </div>
    </div>
  </div>

  <div id="jobs" class="tab-pane fade in active">
    <div class="row mt">
      {% show_demands request pending_offers %}
    </div>
  </div>
  {% endif %}
</div>
</div>

<script>
$(document).ready(function() {
    // show active tab on reload
    if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');

    // remember the hash in the URL without jumping
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
       if(history.pushState) {
            history.pushState(null, null, '#'+$(e.target).attr('href').substr(1));
       } else {
            location.hash = '#'+$(e.target).attr('href').substr(1);
       }
    });

    var remove_favorite_success = function(){
      $("#add_favorite_link").attr("href","#False");
      $("#is_favorite_star").addClass("glyphicon-star-empty");
      $("#is_favorite_star").removeClass("glyphicon-star");
    }

    var add_favorite_success = function(){
      $("#add_favorite_link").attr("href","#True");
      $("#is_favorite_star").removeClass("glyphicon-star-empty");
      $("#is_favorite_star").addClass("glyphicon-star");
    }

    var remove_network_success = function(){
      $("#add_network_link").text("{% trans 'Ajouter à mon réseau' %}");
      $("#add_network_link").attr("href","#False");
    }

    var add_network_success = function(){
      $("#add_network_link").text("{% trans 'Retirer de mon réseau' %}");
      $("#add_network_link").attr("href","#True");
    }

    var remove_favorite_from_list_success = function(id_remove){
     $("#delete_" + id_remove).remove();
    }

    $(document).ready(function(){
      $('#add_favorite_link').click(function () {
        if ($(this).attr('href') != '#True'){
          add_favorite($("#user_id").val(),add_favorite_success);
        }else{
          remove_favorite($("#user_id").val(),remove_favorite_success);
        }
      });

      $('#add_network_link').click(function () {

        if ($(this).attr('href') == '#True'){
          remove_network($("#user_id").val(),remove_network_success);
        }else{
          add_network($("#user_id").val(),add_network_success);
        }
      });

      $('.remove_favorite_link').click(function (event) {
        event.preventDefault();
        remove_favorite($(this).attr("href"), remove_favorite_from_list_success);
      });
    });
});
</script>
{% endblock %}
